<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{$title}</title>

    <link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
	<link href="__PUBLIC__/css/sticky-footer-navbar.css" rel="stylesheet">
  </head>

  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="{:U('Index/index')}">{$title}-MindMap</a>
        </div>
      </div>
    </nav>

    <!-- Begin page content -->
    <div class="container">
		<div class="col-sm-4 col-sm-offset-4">
			<form class="form-signin" method="post" action="{:U('Index/do_reg')}">
			<h2 class="form-signin-heading">注册账号</h2>
			<label for="email" class="sr-only">Email address</label>
			<input type="email" id="email" name="email" class="form-control" placeholder="邮箱" required autofocus>
			<label for="password" class="sr-only">Password</label>
			<input type="password" id="password" name="password" class="form-control" placeholder="密码" required>
			<label for="repassword" class="sr-only">Re Password</label>
			<input type="password" id="repassword" name="repassword" class="form-control" placeholder="确认密码" required>
			<button class="btn btn-ms btn-primary btn-block" type="submit">注册</button>
			<br>
			<a href="{:U('Index/login')}" class="btn btn-ms btn-success btn-block">返回首页</a>
			</form>
		</div>
	  
    </div>

    <footer class="footer">
      <div class="container">
        <p class="text-muted">Place sticky footer content here.</p>
      </div>
    </footer>

  </body>
</html>
